<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="width: 100%; padding: 0rem; margin: 0">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>User ID: <%= userID %> <a href="/logout/">Logout</a></p>
    <div>
      <div>
        <select name="EventType" id="event-type">
          <option value="JOIN">JOIN</option>
          <option value="GIFT">GIFT</option>
          <option value="LIKE">LIKE</option>
          <option value="SHARE">SHARE</option>
          <option value="FOLLOW">FOLLOW</option>
          <option value="SUBSCRIBE">SUBSCRIBE</option>
          <option value="COMMENT">COMMENT</option>
        </select>
        <button type="button" id="create-url-form">Create New URL</button>
      </div>
    </div>
    <div>
      <ul id="userUrlList" style="display: flex; flex-direction: column">
        <% userUrlLIst.forEach(function(listItem){ %>
        <li><%- listItem.URL %></li>
        <% }); %>
      </ul>
    </div>
    <div
      style="
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
      "
    >
      <div>
        <h3>Users Gifting</h3>
        <ul id="giftingList" style="padding: 0"></ul>
      </div>
      <div>
        <h3>Users Joining</h3>
        <ul id="joinList" style="padding: 0"></ul>
      </div>
      <div>
        <h3>Users Liking</h3>
        <ul id="likeList" style="padding: 0"></ul>
      </div>
      <div>
        <h3>Users Sharing</h3>
        <ul id="shareList" style="padding: 0"></ul>
      </div>
      <div>
        <h3>Users Following</h3>
        <ul id="followList" style="padding: 0"></ul>
      </div>
      <div>
        <h3>Users SUBSCRIBing</h3>
        <ul id="subscribeList" style="padding: 0"></ul>
      </div>
      <div>
        <h3>Users COMMENTing</h3>
        <ul id="commentList" style="padding: 0"></ul>
      </div>
    </div>
    <script>
      const createUrlForm = document.getElementById("create-url-form");
      Array.from(document.getElementById("userUrlList").children).forEach(
        (element) => {
          console.log(element);
          element.innerText =
            window.location.protocol +
            "//" +
            window.location.host +
            "/" +
            element.innerText;
        }
      );
      createUrlForm.addEventListener("click", () => {
        const EventType = document.getElementById("event-type").value;
        fetch("/api/createURL", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ EventType }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            let li = document.createElement("li");
            li.append(window.location.hostname + "/" + data.URL);
            document.getElementById("userUrlList").append(li);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
    </script>
    <script src="/javascripts/socket.io.min.js"></script>
    <script>
      const socket = io();
      // send a message to the server
      socket.emit("hello from client", 5, "6", { 7: Uint8Array.from([8]) });
      socket.emit("registeredUserJoin", { value1: "<%= userID %>" });
      socket.on("GIFT", (result) => {
        console.log(result);
        const userList = document.getElementById("giftingList");
        var li = document.createElement("li");
        li.append(`${result["value1"]}`);
        userList.append(li);
      });
      socket.on("JOIN", (result) => {
        console.log(result);
        const userList = document.getElementById("joinList");
        var li = document.createElement("li");
        li.append(`${result["value1"]}`);
        userList.append(li);
      });
      socket.on("LIKE", (result) => {
        console.log(result);
        const userList = document.getElementById("likeList");
        var li = document.createElement("li");
        li.append(`${result["value1"]}`);
        userList.append(li);
      });
      socket.on("SHARE", (result) => {
        console.log(result);
        const userList = document.getElementById("shareList");
        var li = document.createElement("li");
        li.append(`${result["value1"]}`);
        userList.append(li);
      });
      socket.on("FOLLOW", (result) => {
        console.log(result);
        const userList = document.getElementById("followList");
        var li = document.createElement("li");
        li.append(`${result["value1"]}`);
        userList.append(li);
      });
      socket.on("SUBSCRIBE", (result) => {
        console.log(result);
        const userList = document.getElementById("subscribeList");
        var li = document.createElement("li");
        li.append(`${result["value1"]}`);
        userList.append(li);
      });
      socket.on("COMMENT", (result) => {
        console.log(result);
        const userList = document.getElementById("commentList");
        var li = document.createElement("li");
        li.append(`${result["value1"]}`);
        userList.append(li);
      });
    </script>
  </body>
</html>
